.blinking-header {
    width: 40%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    font-weight: bold;
}

@keyframes blink {
    0% {
        background-color: red;
    }

    50% {
        background-color: white;
    }

    100% {
        background-color: red;
    }
}

.blinking-header {
    animation: blink 1s infinite;
}


.marquee {
    overflow: hidden;
}

    .marquee .marquee-wrap {
        width: 100%;
        animation: marquee-wrap 4s infinite linear;
    }

    .marquee .marquee-content {
        float: left;
        white-space: nowrap;
        min-width: 100%;
        animation: marquee-content 4s infinite linear;
    }

@keyframes marquee-wrap {
    0%, 30% {
        transform: translateX(0);
    }

    70%, 100% {
        transform: translateX(100%);
    }
}

@keyframes marquee-content {
    0%, 30% {
        transform: translateX(0);
    }

    70%, 100% {
        transform: translateX(-100%);
    }
}